.main {
  margin-top: 12.5rem;
}

.home {
  color: var(--dark);
  font-family: 'TenorSans-Regular';

  &-circle {
    background: var(--blue200);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 20%;
    right: 15%;
    border-radius: 50%;
    font-family: 'Inter';

    &_inner {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 20px;
    }

    &-text {
      font-size: clamp(1rem, 3vw, 1.5rem);
      line-height: 1.875rem;
      text-transform: uppercase;
    }

    &__mobile {
      display: none;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;

    &_title {
      line-height: clamp(2.5rem, 3vw, 3.75rem);
      font-size: clamp(1.2rem, 3vw, 2.875rem);
      text-transform: uppercase;
      display: flex;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }

    &_text {
      font-size: clamp(1rem, 3vw, 2.5rem);
    }

    &_link {
      color: var(--dark);
      border-bottom: 2px solid var(--blue100);
      cursor: pointer;
    }
  }

  &-text {
    font-size: 1rem;
    font-style: italic;
    color: var(--grey);
    font-family: 'Inter';

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.5625rem;
      margin-bottom: 1.5rem;
    }
  }


  &-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: var(--dark);

    &_number {
      font-size: clamp(1rem, 3vw, 1.8rem);
    }
  }

  &-main {
    padding-top: 2rem;
    padding-bottom: 7rem;
    position: relative;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--blue200);

    &-img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      object-fit: contain;
      z-index: -1;

      &__mobile {
        opacity: 0;
      }
    }

    &-title {
      font-weight: 400;
      text-transform: uppercase;
      font-family: 'TenorSans-Regular';
      font-size: clamp(2.0625rem, 5vw, 4.75rem);
      line-height: clamp(3rem, 7vw, 5.5rem);
      margin-bottom: 2rem;

      &_blue {
        color: var(--blue200);
      }
    }

    &-steps {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2.5rem;

      &_item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--blue300);
        font-family: 'Inter';

        &__circle {
          background: var(--light);
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          line-height: 1.5rem;
          color: var(--dark);

          &-done {
            background-color: var(--blue200);
          }
        }
      }
    }

    &-ps {
      padding: 1.25rem 3.125rem;
      background-color: #E6ECFF;
      max-width: 410px;

      &_text {
        color: var(--blue200);
        font-family: 'Inter';
        font-size: clamp(0.9rem, 3vw, 1.25rem);
      }
    }

  }
}

@media(max-width: 1100px) {
  .home {
    &-main {
      padding-bottom: 20rem;

      &-img {
        height: auto;
        top: auto;
        width: 100%;
      }
    }
  }
}

@media(max-width: 900px) {
  .home {
    &-main {
      padding-top: 1rem;
      padding-bottom: 15rem;
    }

  }
}

@media(max-width: 800px) {
  .main {
    margin-top: 115px;
  }

  .home {
    &-circle {
      width: 10rem;
      height: 10rem;
      top: 30%;
      right: 10%;

      &-text {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }

    &-main {
      &-ps {
        padding: 1rem 1.125rem;
      }
    }
  }
}

@media(max-width: 550px) {
  .home {

    &-text {
      &-wrap {
        gap: 0.5rem;
        margin-bottom: 1rem;
      }
    }

    &-circle {
      display: none;

      &__mobile {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        margin: 0 auto;
      }
    }

    &-main {
      &-title {
        margin-bottom: 1rem;
      }

      &-img {
        opacity: 0;

        &__mobile {
          opacity: 1;
        }
      }

      &-steps {
        margin-bottom: 1rem;
      }

      &-ps {
        margin-bottom: 1rem;
      }
    }
  }
}

@media(max-width: 400px) {
  .home {
    &-main {
      padding-bottom: 12rem;
    }
  }
}