.copy{
  &-content{
    &-pc{
      &__brochure{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 68% 27%;
      }
    }
  }
}

.table{
  &-body{
    &-row{
      &__brochure{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;
      }

      &__both{
        display: grid;
        grid-template-columns: 3fr 10fr;

        td:last-child{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 992px){
.copy{
  &-content {
    &-pc {
      &__brochure{
        display: none;
      }
    }

    &-mobile {
      display: block;
    }
  }
}
}

@media (max-width: 650px){
  .table{
    &-body{
      &-row{
        &__both{
          td:last-child{
            justify-content: start;
          }
        }
      }
    }
  }
}

@media (max-width: 450px){
  .table{
    &-body{
      &-row{
        &__brochure{
          grid-template-columns: 10rem 8rem 8rem 8rem 8rem 8rem;
        }

        &__both{
          grid-template-columns: 10rem 10fr;
        }
      }
    }
  }
}