.table{
  &-body{
    &-row{
      &__patterns{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;

        &-both{
          display: grid;
          grid-template-columns: 3fr 6fr;

          td:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 992px){
  .table{
    &-body{
      &-row{
        &__patterns{
          &-both{
            td:last-child{
              justify-content: start;
            }
          }
        }
      }
    }
  }
}