.copy {

  .tabs {
    display: none;
  }

  &-title {
    color: var(--blue300);
    font-size: clamp(.9375rem, 3vw, 1.1875rem);
    font-weight: 400;
    line-height: clamp(1.375rem, 3vw, 1.875rem);
    text-transform: uppercase;
    font-family: 'TenorSans-Regular';
  }

  &-content {
    &-pc {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 60% 35%;
    }

    &-mobile {
      display: none;
    }
  }

  &-file {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--border-light);
    padding: 3rem;
    flex-direction: column;
    gap: 0.5rem;
  }
}


@media (max-width: 992px) {
  .copy {
    .tabs {
      display: flex;
    }

    &-content {
      &-pc {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }


    .table-head {
      display: none;
    }

    &-application {
      .copy-title {
        display: none;
      }
    }

  }
}



// вынеси в глобальные стили
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'NotoSans-Regular';

  &-head {
    border-bottom: 1px solid var(--blue200);
    padding-bottom: 1rem;
    text-align: left;
  }

  &-body {
    &-row {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
      }

      &:first-child {
        border-bottom: 1px solid var(--border-light);
      }
    }

    &-cell {
      padding: 1rem;
      white-space: nowrap;
      text-align: left;
      height: 3.125rem;

      &:not(:last-child) {
        border-right: 1px solid var(--border-light);
      }
    }

  }
}

.tabs {
  display: flex;
  justify-content: start;
  align-items: center;

  &-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    .copy-title {
      color: var(--grey);
    }

    &_active {
      border-bottom: 1px solid var(--blue200);

      .copy-title {
        color: var(--blue200);
      }
    }
  }
}