.copy {

  .tabs {
    display: none;
  }

  &-title {
    color: var(--blue300);
    font-size: clamp(.9375rem, 3vw, 1.1875rem);
    font-weight: 400;
    line-height: clamp(1.375rem, 3vw, 1.875rem);
    text-transform: uppercase;
    font-family: 'TenorSans-Regular';
  }

  &-content {

    &-pc {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 60% 35%;
    }

    &-mobile {
      display: none;
    }
  }

  &-file {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--border-light);
    padding: 3rem;
    flex-direction: column;
    gap: 0.5rem;
  }
}


@media (max-width: 992px) {
  .copy {
    .tabs {
      display: flex;
    }

    &-content {
      &-pc {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }


    .table-head {
      display: none;
    }

    &-application {
      .copy-title {
        display: none;
      }
    }

  }
}

// вынеси в глобальные стили
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'NotoSans-Regular';

  &-border{
    &-bottom{
      border-bottom: 1px solid var(--border-light);
    }

    &-right{
      border-right: 1px solid var(--border-light);
    }
  }


  &-head {
    border-bottom: 1px solid var(--blue200);
    padding-bottom: 1rem;
    text-align: left;
  }

  &-body {
    &-row {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
      }

      &:first-child {
        border-bottom: 1px solid var(--border-light);
      }

      &_both{
        display: grid;
        grid-template-columns: 4fr 5fr;

        td:last-child{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &-cell {
      padding: 1rem;
      text-align: left;
      min-height: 3.125rem;
      min-width: 4.5rem;

      &:not(:last-child) {
        border-right: 1px solid var(--border-light);
      }

      &.table-body-cell__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        align-items: center;
        justify-content: space-between;
      }

      &.table-body-cell__percent {
        padding-right: 3.125rem;
      }

      &__add3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        border-left: 1px solid var(--border-light);
        border-right: 1px solid var(--border-light);
        width: 30%;

        &-item{
          padding: 0.5rem;
          height: 100%;
          white-space: nowrap;
          &:not(:last-child) {
            border-bottom: 1px solid var(--border-light);
          }
        }
      }

      &__col-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 4.5rem;
        border-right: 1px solid var(--border-light);

        span{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0.5rem;

          &:not(:last-child) {
            border-bottom: 1px solid var(--border-light);
          }
        }
      }

      &__unick{
        display: flex;
        justify-content: space-between;
        // gap: 0.8rem;

        &-center{
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 70%;
        }
      }
    }

  }
}

.tabs {
  display: flex;
  justify-content: start;
  align-items: center;

  &-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    .copy-title {
      color: var(--grey);
    }

    &_active {
      border-bottom: 1px solid var(--blue200);

      .copy-title {
        color: var(--blue200);
      }
    }
  }
}

.message-timer{
  display: none;
}

@media (max-width: 1065px){
  .table{
    &-body{
      &-cell{
        &__add3{
          width: 45%;
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1054px) {
  .table {
    &-body {
      &-cell {
        &__percent {
          justify-content: start;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .table {
    margin-top: 1rem;
    border-top: 1px solid #BEC7E2;

    &-body {
      &-row {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;

        &_both{
          grid-template-columns: 3fr 5fr;
          td:last-child{
            justify-content: start;
          }
        }
      }
    }
  }

  // всплывашка таймер
  .message-timer {
    position: fixed;
    top: 15%;
    right: -100%;
    transition: var(--tran05);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: var(--blue200);
    color: var(--white);
    width: 200px;
    padding: 1rem;
    z-index: 15;
    display: flex;

    &__active{
      right: 5%;
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (max-width: 650px) {
  .tabs {
    &-item {
      padding: 0.7rem;
    }
  }

  .table {
    min-width: 650px;
    width: 650px;

    &-wrap {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1rem;

      &::-webkit-scrollbar {
        width: 10px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #F1F4F7;
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px #D4DDF8;
      }
    }

    &-body {
      &-cell {
        &.table-body-cell__wrap {
          flex-direction: column;
          align-items: start;
          gap: 0;
        }
      }
    }
  }
}

@media (max-width: 450px){
  .table{
    &-body{
      &-row{
        grid-template-columns: 10rem 5.5rem 5.5rem 5.5rem 5.5rem 5.5rem;
      }
    }
  }
}

