.header {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--blue200);
  z-index: 5;

  &-inner {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--blue200);
    padding: 0.8rem 0;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 4rem;

    &__phone {
      font-size: 1.1875rem;
      margin: 1rem 0.5rem;
      font-weight: 500;
      font-family: 'TenorSans-Regular';
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    &__item {
      font-family: 'NotoSans-Regular';
      position: relative;

      a {
        display: flex;
        align-items: center;
        gap: 0.3rem;

      }

      &_circle::before {
        content: '';
        // transform: translateX(-2.5rem);
        position: absolute;
        top: 50%;
        left: -1.3rem;
        transform: translateY(-50%);
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--grey);
      }
    }
  }

  &-burger,
  &-mobileMenu {
    display: none;
  }
}

@media(max-width: 800px) {
  .header {

    // &-inner {
    //   padding: 0.8rem 0;
    // }

    &_nav,
    .headerPhone,
    .headerContact,
    .headerLocation,
    .headerBottom {
      display: none;
    }

    &-burger {
      position: relative;
      width: 20px;
      height: 11px;
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      gap: 5px;


      &__item {
        height: 1px;
        width: 20px;
        background: var(--dark);
        // transition: all 0.3s ease-in-out;
        // -webkit-transition: all 0.3s ease-in-out;
        // -o-transition: all 0.3s ease-in-out;
      }

      // &_active {
      //   .header-burger__item:nth-child(1) {
      //     -webkit-transform: translateY(13px) rotate(45deg);
      //     -ms-transform: translateY(13px) rotate(45deg);
      //     -o-transform: translateY(13px) rotate(45deg);
      //     transform: translateY(13px) rotate(45deg);
      //   }

      //   .header-burger__item:nth-child(2) {
      //     opacity: 0;
      //   }

      //   .header-burger__item:nth-child(3) {
      //     -webkit-transform: translateY(-13px) rotate(-45deg);
      //     -ms-transform: translateY(-13px) rotate(-45deg);
      //     -o-transform: translateY(-13px) rotate(-45deg);
      //     transform: translateY(-13px) rotate(-45deg);
      //   }
      // }
    }

    &-mobileMenu {
      position: fixed;
      top: 5.2rem;
      right: 100%;
      bottom: 0;
      z-index: 90;
      width: 22rem;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      transform: translateX(0);
      transition-delay: 0.25s;
      transition: transform 0.4s ease 0s;
      padding: 1.25rem 1.5rem;

      &__active {
        transform: translateX(100%);
        width: 100%;
      }

      &_title {
        text-transform: uppercase;
        color: #141D38;
        border-bottom: 1px solid var(--blue200);
        font-family: 'TenorSans-Regular';
      }

      &_item {
        font-weight: 400;
        font-size: 1rem;
        color: #141D38;
      }
    }

  }
}